{% extends '@SyliusShop/layout.html.twig' %}

{% block extracontent %}
    <div class="row terms pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">{{ 'app.ui.terms_and_conditions'|trans }}</h1>
        </div>
        <div class="col-12 segment">
            <div class="content pt-5 pl-5 pr-5 pb-0">{{ terms.text|raw }}</div>
        </div>
    </div>
{% endblock %}
