<a class="item" href="{{ path('sylius_admin_dashboard') }}" style="padding: 13px 0;">
    <div class="admin-logo">
        <img src="{{ asset('bundles/syliusadmin/img/admin-logo.svg') }}" class="ui fluid image" alt="Praga Web Studio">
    </div>
</a>
