.ui.circular.button {
    background: #AB162B;
    color: #ffffff;
    font-family: "Raleway Medium", sans-serif;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 35px;
}

.ui.circular.button i {
    margin-right: 20px !important;
}

/* inputs */
.checkbox, .radio {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 12px;
}

div.field .radio {
    margin-top: 0;
}

/* Hide the browser's default checkbox */
.checkbox input, .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error .check-mark {
    background-color: rgba(205, 10, 10, .3);
}

.radio .check-mark {
    top: 5px;
}

.radio .check-mark, .radio input:checked ~ .check-mark:before {
    border-radius: 50px !important;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .check-mark, .radio:hover input ~ .check-mark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .check-mark:before, .radio input:checked ~ .check-mark:before {
    content: " ";
    margin: 4px;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 10px;
    background-color: rgba(145, 113, 113, 1);
}
