/* General */
body {
    font-family: "Raleway Regular", sans-serif !important;
    background: #F5F5F5 !important;
}

img, iframe {
    max-width: 100%;
    height: auto;
}

a, a:hover {
    font-family: "Raleway Medium", sans-serif;
    color: #AB162B !important;
    cursor: pointer;
}

p {
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    text-align: left;
}

.segment p {
    color: #404040;
}

p.small {
    font-family: "Raleway Italic", sans-serif !important;
    font-size: 14px !important;
}

h1 {
    font-size: 32px !important;
    font-family: "Raleway Medium", sans-serif;
    color: #AB162B;
    padding: 20px 0;
}

h3 {
    font-family: "Raleway Medium", sans-serif;
    font-size: 24px;
}

form label {
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 16px !important;
    text-align: left;
}

form input, form textarea {
    font-family: "Raleway Light", sans-serif !important;
    font-size: 16px !important;
    border-radius: 15px !important;
}

form textarea {
    resize: none !important;
    max-height: 80px !important;
    overflow-y: scroll !important;
}

form textarea::-webkit-scrollbar {
    display: none;
}

form textarea::-webkit-input-placeholder {
    color: #917171 !important;
}

form textarea:-moz-placeholder {
    color: #917171 !important;
}

form textarea::-moz-placeholder {
    color: #917171 !important;
}

form textarea:-ms-input-placeholder {
    color: #917171 !important;
}

form textarea::placeholder {
    color: #917171 !important;
}

form input, form input:-webkit-autofill, form textarea, form textarea:-webkit-autofill {
    background: #F5F5F5 !important;
    background-color: #F5F5F5 !important;
    border-color: #F5F5F5 !important;
}

button, button:hover, button:focus, a, a:hover, a:focus {
    outline: none !important;
    box-shadow: none !important;
}

strong {
    font-family: "Raleway SemiBold", sans-serif !important;
}

/* Utilities */
.margin-0-auto {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.border-right {
    border-right: 1px solid #917171;
}

.btn-rounded {
    -webkit-appearance: none;
    font-family: "Raleway Medium", sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9) !important;
    background: #AB162B;
    border-radius: 10em;
    padding: 10px 30px;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
}

.btn-rounded:hover {
    color: rgba(255, 255, 255, 1) !important;
    text-decoration: none;
}

.btn-rounded.inverted {
    color: rgba(171, 22, 43, .9) !important;
    background: #EBE7E7;
}

.welcome .btn-rounded {
    margin-top: 0;
}

.btn-rounded.inverted:hover {
    color: rgba(171, 22, 43, 1) !important;
}

.bg-gray {
    background: #404040;
}

.btn-login-with, .btn-login-with:hover {
    border-radius: 8px;
    background: #f2f2f2;
    color: #ffffff !important;
    text-decoration: none !important;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 25px;
}

.btn-login-with i {
    margin-right: 20px;
}

.btn-login-with.facebook {
    background: #3B5998;
}

.max-w-mx-content {
    max-width: max-content;
}

.divider {
    width: 100%;
    height: 1px;
    background: #917171;
}

.txt-decoration-none {
    text-decoration: none !important;
}

.mw-30 {
    max-width: 30%;
}

.mw-30-i {
    max-width: 30% !important;
}

/* Custom */
.top-menu, .top-menu .row {
    background: #404040;
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    max-width: 100px;
    position: absolute;
    top: 18%;
    left: 0;
}

a, .navbar-nav, .sub-navbar-nav ul, .login {
    font-size: 16px;
    letter-spacing: 0.7px;
}

.navbar-nav li, .navbar-nav li a {
    color: #ffffff !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.navbar-nav li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.navbar-nav li a:after {
    content: "|";
    margin-left: 20px;
}

.navbar-nav li:last-of-type a:after {
    content: none;
}

.navbar-nav li:last-of-type a {
    padding-right: 0 !important;
}
.sub-navbar-nav ul, .navbar-nav {
    padding: 15px !important;
}

.sub-navbar-nav ul {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.sub-navbar-nav ul {
    margin-left: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sub-navbar-nav ul li a {
    color: #AB162B !important;
    padding-left: 30px;
    padding-right: 30px;
}

.sub-navbar-nav ul li:first-of-type a {
    font-family: "Raleway SemiBold", sans-serif;
    margin-left: 100px;
}

.collapse:not(.show) {
    display: none !important;
}

.sub-navbar-nav {
    width: 100%;
    background: #ffffff;
}

.sub-navbar-nav ul {
    margin-bottom: 0 !important;
}

.segment {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em 50px;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

.login form, .forgot-password form {
    max-width: 454px !important;
    padding: 20px 0 25px 0;
    border-bottom: 1px solid #917171;
    text-align: center;
}

.mh-border-b {
    border-bottom: 1px solid #917171;
}

.mh-color {
    color: #917171 !important;
}

.f-rl-light {
    font-family: "Raleway Light", sans-serif !important;
}

.forgot-password form {
    max-width: 400px !important;
    border-bottom: none;
}

.register form {
    max-width: 650px !important;
    padding: 20px 0 25px 0;
    border-bottom: 1px solid #917171;
}

.register.profile form {
    border-bottom: none;
}

.login form > div {
    padding: 0 80px;
}

.register .instructions {
    width: 45%;
}

.login a:not(.btn-login-with), .login  a:not(.btn-login-with):hover, .register a:not(.btn-login-with), .register  a:not(.btn-login-with):hover,
.forgot-password a:not(.btn-login-with), .forgot-password  a:not(.btn-login-with):hover {
    text-decoration: underline !important;
}

.register.profile a:not(.btn-login-with).btn-rounded {
    text-decoration: none !important;
}

.register .form .row > div:first-of-type {
    padding-right: 30px;
}

.register .form .row > div:last-of-type {
    padding-left: 30px;
}

.field .dropdown .grouped {
    display: flex !important;
}

.field .dropdown .grouped .field {
    margin-right: 20px !important;
}

.field .dropdown .grouped .field label {
    margin-left: 10px;
}

.div-input {
    display: flex;
    flex-wrap: wrap;
}

.div-input input {
    border-radius: 15px 0 0 15px !important;
    border-right: none !important;
    width: calc(100% - 56px) !important;
    order: 1;
}

.div-input span {
    display: flex;
    border-left: none;
    border-radius: 0 15px 15px 0;
    background: #f5f5f5;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    max-width: 56px;
    order: 2;
    color: #917171;
    cursor: pointer;
}

.div-input label.error {
    width: 100%;
    order: 3;
}

#footer .logo img {
    max-width: 110px;
}

#footer > .container {
    padding-top: 35px;
    padding-bottom: 40px;
}

#footer .links a {
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    padding-bottom: 8px;
}

#footer .app-btns, #footer .app-btns p {
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 16px;
    color: #AB162B;
}

#footer .app-btns > div a:first-of-type {
    margin-right: 20px;
}

#footer .bottom-footer {
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    color: #ffffff !important;
    padding-top: 30px;
    padding-bottom: 25px;
}

#footer .bottom-footer a, #footer .bottom-footer a:hover {
    color: #ffffff !important;
}

#footer .bottom-footer .opposite, #footer .bottom-footer .opposite:hover {
    background: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #404040 !important;
    text-decoration: none;
}

#footer .bottom-footer i {
    font-size: 23px;
}

#footer .bottom-footer .opposite i {
    font-size: 17px;
}

/* Modal */
.modal-content {
    padding: 40px 0 !important;
}

.modal-title {
    font-family: "Raleway Medium", sans-serif;
    font-size: 32px;
    color: #AB162B;
}

.modal-header {
    justify-content: center !important;
    border-bottom: none !important;
}

.modal-footer {
    border-top: none !important;
}

.modal .close {
    position: absolute;
    right: 15px;
    color: #AB162B;
    font-size: 30px;
}

.modal.fade {
    background: rgba(145, 113, 113, .58);
}

.modal-body {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.modal .btn-rounded {
    padding-left: 50px;
    padding-right: 50px;
}

.terms-conditions p {
    margin-left: 10px;
}

.welcome .information > .row > div:not(.separator) {
    padding-top: 50px;
    padding-bottom: 50px;
}

.separator {
    width: calc(100% - 30px);
    height: 1px;
    margin: 0 auto;
    background: #917171;
}

.profile h2 {
    font-size: 24px;
    color: #404040;
    font-family: "Raleway Medium", sans-serif;
    margin-bottom: 20px;
}

.profile .segment {
    padding-bottom: 1em;
    border-radius: 15px;
}

.profile .segment.h-100 {
    height: calc(100% - 28px) !important;
}

#settings-collapse {
    display: flex;
    flex-direction: row;
    padding-left: 13px;
    border-left: 1px solid #ffffff;
}

#settings-collapse div.dropdown {
    margin-right: 10px;
}

#settings-collapse div.dropdown:last-of-type {
    margin: 0;
}

#settings-collapse span {
    display: flex;
    flex-direction: column;
}

.error-500 h1 {
    margin-top: 105px;
}

.work-with-us h1 {
    margin-top: 50px;
}

/* form errors */
div.error {
    margin-bottom: 15px;
}

label.error, div.error span {
    font-size: 12px !important;
    margin: 10px 0 15px 0 !important;
    color: #cd0a0a !important;
}

label.error:after {
    content: none !important;
}

/* Responsive */
.mobile-cart {
    display: flex;
    background: #ffffff;
    width: 100%;
    padding: 20px 15px;
    justify-content: flex-end;
}

.mobile-menu .navbar-toggler-icon {
    width: auto;
    height: auto;
}

.mobile-menu .navbar-toggler-icon img {
    width: 33px;
    height: auto;
}

/* Custom Collapse */
.c-collapse:not(.show) {
    visibility: hidden;
    display: none;
}

.c-collapse.show {
    visibility: visible;
    display: block;
}

.c-collapse.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

.c-collapse.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: auto;
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 50% !important;
    }

    .welcome .information > .row {
        max-width: 70%;
        margin: 0 auto;
    }

    .welcome .information > .row > div.separator {
        width: 100%;
    }

    .welcome .information > .row > div:not(.separator) {
        padding: 50px 0;
    }
}

@media (max-width: 991px) {
    #footer .app-btns > div a:first-of-type, #footer .app-btns > div a {
        display: block;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .navbar > div.mobile-menu {
        display: flex !important;
        justify-content: flex-end;
        width: 100%;
        flex-wrap: wrap;
    }

    .navbar-brand {
        top: 3%;
        left: 2%;
    }

    .navbar-toggler {
        padding: 15px !important;
        border: none !important;
    }

    .navbar-toggler-icon {
        display: flex !important;
        background-image: none !important;
        align-items: center;
        justify-content: center;
    }

    #mobile-menu .modal-content {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    #mobile-menu .modal-dialog {
        max-width: 100% !important;
        width: 100%;
        margin: 0 !important;
    }

    #mobile-menu .modal-content {
        border: 0;
        border-radius: 0;
    }

    #mobile-menu .dismiss {
        justify-content: flex-end !important;
        padding: 30px;
    }

    #mobile-menu .close {
        position: initial;
        text-shadow: none;
        font-size: 60px;
        color: #b2b2b2;
        line-height: 15px;
        width: 50px;
        height: 50px;
        margin: 0 20px 0 0;
        align-self: flex-end;
    }

    #mobile-menu .modal-body {
        padding: 0 !important;
    }

    #mobile-menu .modal-body .first-navbar {
        background: #404040;
        display: flex;
        flex-direction: column;
    }

    #mobile-menu .modal-body .first-navbar .settings {
        display: flex;
        position: absolute;
        top: 10px;
        right: 70px;
    }

    #mobile-menu .modal-body .first-navbar .settings  #settings-collapse {
        padding-left: 0;
        padding-right: 13px;
        border-left: none;
        border-right: 1px solid #ffffff;
    }

    #mobile-menu .navbar-nav li, #mobile-menu .sub-navbar-nav ul li {
        padding-bottom: 15px;
    }

    #mobile-menu .navbar-nav li a, #mobile-menu .sub-navbar-nav ul li a {
        font-size: 20px;
        padding: .5rem 1rem;
    }

    #mobile-menu .navbar-nav li a:after {
        content: none;
    }

    #mobile-menu .sub-navbar-nav ul {
        margin-left: 0;
        flex-direction: column;
        width: 100%;
    }

    #mobile-menu .sub-navbar-nav ul li:first-of-type a {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    #footer > div > div > div:first-of-type a.logo {
        margin-left: auto;
        margin-right: auto;
    }

    #footer > div > div > div:nth-of-type(2) {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #footer > div > div > div.app-btns p {
        text-align: center !important;
    }

    #footer > div > div > div.app-btns div {
        display: flex;
        justify-content: center;
    }

    #footer > div > div > div.app-btns div a {
        margin-bottom: 0;
    }

    #footer > div > div > div.app-btns div a:first-of-type {
        margin-right: 25px;
    }

    .register .instructions {
        width: 100%;
    }

    .register .form .row>div:first-of-type {
        padding-right: 15px;
    }

    .register .form .row>div:last-of-type {
        padding-left: 15px;
        padding-top: 25px;
    }

    .register .form .row>div:last-of-type:before {
        content: " ";
        width: 100%;
        height: 1px;
        background: #917171;
        display: block;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .modal .close {
        top: 5px;
        font-size: 50px;
    }

    .welcome .information > .row > div > div > div a.btn-rounded {
        max-width: 60%;
        margin: 20px auto 0 auto;
    }

    .r-ml-0 {
        margin-left: 0 !important;
    }

    .ml-3.r-ml-0 {
        margin-left: 0 !important;
    }

    .r-pr-15 {
        padding-right: 15px !important;
    }

    .pr-0.r-pr-15 {
        padding-right: 15px !important;
    }

    .sm-text-center {
        text-align: center;
    }

    .sm-mt-1 {
        margin-top: 1rem;
    }

    .sm-mt-2 {
        margin-top: 2rem;
    }

    .sm-mt-3 {
        margin-top: 3rem;
    }

    .sm-mt-4 {
        margin-top: 4rem;
    }

    .sm-mt-5 {
        margin-top: 5rem;
    }

    .sm-pl-0 {
        padding-left: 0;
    }

    .sm-pr-0 {
        padding-right: 0;
    }

    .sm-pl-0-i {
        padding-left: 0 !important;
    }

    .sm-pr-0-i {
        padding-right: 0 !important;
    }

    .sm-order-1 {
        order: 1;
    }

    .sm-order-2 {
        order: 2;
    }

    .sm-w-100 {
        width: 100%;
    }

    .sm-w-100-i, .w-75.sm-w-100-i {
        width: 100% !important;
    }

    .error-500 h1, .work-with-us h1 {
        margin-top: 0;
    }
}

@media (max-width: 575px) {
    #mobile-menu .navbar-nav li a, #mobile-menu .sub-navbar-nav ul li a {
        font-size: 17px;
    }

    #footer .bottom-footer > div > div > div:first-of-type {
        order: 2;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #footer .bottom-footer > div > div > div:first-of-type p, #footer .bottom-footer > div > div > div:nth-of-type(3) p {
        text-align: center !important;
    }

    #footer .bottom-footer > div > div > div:nth-of-type(2) {
        order: 1;
    }

    #footer .bottom-footer > div > div > div:nth-of-type(2) a:last-of-type {
        margin-right: 0 !important;
    }

    #footer .bottom-footer > div > div > div:nth-of-type(3) {
        order: 3;
    }

    #footer>div>div>div.app-btns div a:first-of-type {
        margin-right: 10px;
    }

    .xs-text-left {
        text-align: left;
    }

    .xs-text-left-i, .text-center.xs-text-left-i {
        text-align: left !important;
    }

    .xs-segment {
        background: #ffffff;
    }

    .mt-1.xs-mt-0, .mt-2.xs-mt-0, .mt-3.xs-mt-0, .mt-3.xs-mt-0, .mt-5.xs-mt-0 {
        margin-top: 0 !important;
    }

    .xs-mt-1 {
        margin-top: 1rem;
    }

    .xs-mt-2 {
        margin-top: 2rem;
    }

    .xs-mt-3 {
        margin-top: 3rem;
    }

    .xs-mt-4 {
        margin-top: 4rem;
    }

    .xs-mt-5 {
        margin-top: 5rem;
    }
}

@media (max-width: 480px) {
    .login .segment > div > div p.text-center, .forgot-password .segment > div > div p.text-center {
        text-align: left !important;
    }

    .login form > div {
        padding: initial;
    }

    .modal-dialog {
        margin: 30px -1px !important;
    }

    .modal-content {
        border-radius: 15px !important;
    }

    .modal-title {
        text-align: center;
    }

    .modal-body {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    body.modal-open ::-webkit-scrollbar {
        display: none;
    }

    #termsModal .modal-footer {
        flex-direction: column;
    }

    #termsModal .modal-footer button:first-of-type {
        margin-right: .25rem !important;
        margin-bottom: 20px;
    }

    .welcome .information > .row > div > div > div a.btn-rounded {
        max-width: 80%;
    }

    .terms .content {
        padding: 15px 15px 0 15px !important;
    }
}

@media (max-width: 345px) {
    .terms-conditions p {
        max-width: 190px;
    }
}
