/* General */
body {
    font-family: "Raleway Regular", sans-serif !important;
    background: #F5F5F5 !important;
}

img, iframe {
    max-width: 100%;
    height: auto;
}

a, a:hover {
    font-family: "Raleway Medium", sans-serif;
    color: #AB162B !important;
}

/* Custom */
.top-menu, .top-menu .row {
    background: #404040;
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    max-width: 100px;
    position: absolute;
    top: 18%;
    left: 0;
}

a, .navbar-nav, .sub-navbar-nav ul, .login {
    font-size: 16px;
    letter-spacing: 0.7px;
}

.navbar-nav li, .navbar-nav li a {
    color: #ffffff !important;
}

.navbar-nav li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.navbar-nav li a:after {
    content: "|";
    margin-left: 20px;
}

.navbar-nav li:last-of-type a:after {
    content: none;
}

.navbar-nav li:last-of-type a {
    padding-right: 0 !important;
}
.sub-navbar-nav ul, .navbar-nav {
    padding: 15px !important;
}

.sub-navbar-nav ul {
    padding-top: 18px !important;
    padding-bottom: 18px !important;
}

.sub-navbar-nav ul {
    margin-left: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.sub-navbar-nav ul li a {
    color: #AB162B !important;
    padding-left: 30px;
    padding-right: 30px;
}

.sub-navbar-nav ul li:first-of-type a {
    font-family: "Raleway SemiBold", sans-serif;
    margin-left: 100px;
}

.collapse:not(.show) {
    display: none !important;
}

.sub-navbar-nav {
    width: 100%;
    background: #ffffff;
}

.sub-navbar-nav ul {
    margin-bottom: 0 !important;
}

.ui.circular.button {
    background: #AB162B;
    color: #ffffff;
    font-family: "Raleway Medium", sans-serif;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 35px;
}

.ui.circular.button i {
    margin-right: 20px !important;
}

.segment {
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

.login {
    color: #404040;
}

.login h1 {
    font-size: 32px;
    font-family: "Raleway Medium", sans-serif;
    color: #AB162B;
    padding: 20px 0;
}

.login form {
    max-width: 454px !important;
    padding: 20px 0 25px 0;
    border-bottom: 1px solid #917171;
    text-align: center;
}

.login form div {
    padding: 0 80px;
}

.login form label {
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 16px;
    text-align: left;
}

.login form input {
    font-family: "Raleway Light", sans-serif !important;
    font-size: 16px !important;
    border-radius: 15px !important;
}

.login form input, .login form input:-webkit-autofill {
    background: #F5F5F5 !important;
    background-color: #F5F5F5 !important;
    border-color: #F5F5F5 !important;
}

.login a, .login  a:hover {
    text-decoration: underline !important;
}

.margin-0-auto {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.btn-rounded {
    -webkit-appearance: none;
    font-family: "Raleway Medium", sans-serif;
    font-size: 16px;
    color: #ffffff;
    background: #AB162B;
    border-radius: 10em;
    padding: 10px 30px;
    margin-top: 20px;
}

.bg-gray {
    background: #404040;
}

#footer .logo img {
    max-width: 110px;
}

#footer > .container {
    padding-top: 35px;
    padding-bottom: 40px;
}

#footer .links a {
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    padding-bottom: 8px;
}

#footer .app-btns {
    font-family: "Raleway SemiBold", sans-serif;
    font-size: 16px;
    color: #AB162B;
}

#footer .app-btns > div a:first-of-type {
    margin-right: 20px;
}

#footer .bottom-footer {
    font-family: "Raleway Regular", sans-serif;
    font-size: 16px;
    color: #ffffff !important;
    padding-top: 30px;
    padding-bottom: 25px;
}

#footer .bottom-footer a, #footer .bottom-footer a:hover {
    color: #ffffff !important;
}

#footer .bottom-footer .opposite, #footer .bottom-footer .opposite:hover {
    background: #ffffff;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #404040 !important;
    text-decoration: none;
}

#footer .bottom-footer i {
    font-size: 23px;
}

#footer .bottom-footer .opposite i {
    font-size: 17px;
}
