{{ form_row(form.fullAddress) }}
{{ form_row(form.annotations) }}
{{ form_row(form.phoneNumber) }}

{% if is_granted("ROLE_USER") %}
    {% if not has_orders(app.user) %}
        <p class="mh-color">{{ about_store('first-purchase-ms')|default('app.ui.checkout.order.phone.message'|trans) }}</p>
    {% endif %}
{% endif %}
