{% extends "/admin/base.html.twig" %}

{% block title %}{{ 'app.ui.locations'|trans }}{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="m-t-lg">
            <h1>{{ 'app.ui.locations'|trans }}</h1>
            <br><br>


        </div>
    </div>
{% endblock %}
