<div class="col-12 association">
    <h4>{{ product_association.type.name }}</h4>
    <div id="sylius-product-association-{{ product_association.type.name }}">
        {% include '@SyliusShop/Product/_slider.html.twig' with {'products': product_association.associatedProducts} %}
    </div>
</div>
