body {
    background-color: #404040;
    font-family: 'Raleway', sans-serif;
}

.pace .pace-progress {
    background: #AB162B;
}

#main-logo {
    width: 140px;
    text-align: center;
}

.nav-header {
    background-image: none;
    background-color: #404040;
}

.nav > li.active {
    background: #69595C;
    border-left: none;
}

.navbar-default .nav > li.active > a:hover, .navbar-default .nav > li.active > a:focus {
    background-color: #69595C;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background-color: #404040;
    color: white;
}

body.mini-navbar .nav-header {
    background-color: #404040;
    padding: 15px 0;
}

body.mini-navbar .nav-header > a {
    padding-left: 10px;
    padding-right: 10px;
}

body.mini-navbar #main-logo {
    width: 50px;
}

.navbar-static-side {
    overflow: hidden;
}

.btn-primary {
    color: #fff;
    background-color: #AB162B;
    border-color: #B03143;
    border-radius: 25px;
    height: 48px;
    padding-top: 14px;
}

.btn-primary:hover, .btn-primary:visited, .btn-primary:active, .btn-primary:focus {
    color: #fff !important;
    background-color: #AB162B !important;
    border-color: #B03143 !important;
}

.text-primary {
    color: #AB162B !important;
}

.nav > li > a i.fa {
    font-size: 25px;
}

.wrapper-content h1 {
    color: #AB162B;
}

.rating-stars {
    font-size: 40px;
    float: right;
}

.rating-stars .yellow {
    color: #FDD039;
}

.rating-title {
    float: left;
    margin-top: 18px !important;
}

table.top-products-table thead th {
    font-weight: bold;
    color: #AB162B;
    background-color: #FAF5F6;
    height: 41px;
}

table.top-products-table tbody td {
    height: 77px;
    padding-top: 30px;
}

.filter-ibox .form-control {
    border-radius: 25px;
    height: 48px;
    color: #917171;
    background-color: #FAF5F6;
}

.filter-ibox label {
    font-weight: bold;
    padding-top: 16px;
}

.dropdown-toggle::after {
    display: none;
}

ul.nav-second-level {
    background: #565656;
}

.mini-navbar .nav .nav-second-level {
    background-color: #565656;
}

h1 small {
    color: #404040;
    font-size: 14px;
    margin-left: 10px;
}

.btn-standard-width {
    width: 250px;
}

.btn-standard-width i.fa {
    float: left;
    margin-top: 1px;
    font-size: 17px;
}

.btn-action-button {
    width: 80px;
    border-radius: 10px;
}

.ibox-content .search-box {
    padding: 30px;
    width: 400px;
}

.ibox-content .search-box .search-box-fullwidth {
    width: 100%;
}

.ibox-content .search-box .search-box-input {
    border-radius: 15px;
    height: 41px;
    color: #AB162B;
    background-color: #FAF5F6;
    border-width: 0;
}

.ibox-content .search-box label {
    font-weight: bold;
    margin-top: 10px;
}

.btn-default {
    background-color: #EBE7E7;
    color: #404040;
}

.btn-danger {
    background-color: #F5B0BD;
    color: #FFFFFF;
    border-color: #F5B0BD;
}

.ibox-content .search-box .search-box-input::placeholder {
    color: #AB162B;
}

.pagination {
    justify-content: center;
}

.page-item.active .page-link {
    background-color: #AB162B;
    border-color: #AB162B;
}

.actions-header {
    width: 300px;
}

.toast-success {
    background-color: #4A90E2;
}

h3 {
    color: #AB162B;
}

h4 {
    color: #AB162B;
}

.pointer {
    cursor: pointer;
}

.width-80 {
    width: 80px;
}

.min-height-40 {
    min-height: 40px;
}

.min-height-48 {
    min-height: 48px;
}

.ui-sortable-helper {
    background-color: #FAF5F6;
}

.margin-top-25 {
    margin-top: 25px;
}

.sweet-alert {
    width: 720px;
    height: 290px;
    margin-left: -335px;
}

.sweet-alert h2 {
    color: #AB162B;
    font-size: 24px;
    margin-top: 40px;
}

.sweet-alert button {
    width: 224px;
    height: 48px;
    border-radius: 43px;
    margin-top: 70px;
}

.sweet-alert button.cancel {
    background-color: #D0D0D0 !important;
    color: #AB162B !important;
}

.sweet-alert button.confirm {
    background-color: #AB162B !important;
}

.sweet-overlay {
    background-color: #baa8a8;
    opacity: 0.8 !important;
}

/* Custom Checkbox */
/* Hide the browser's default checkbox */
.checkbox input, .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error .check-mark {
    background-color: rgba(205, 10, 10, .3);
}

.radio .check-mark {
    top: 5px;
}

.radio .check-mark, .radio input:checked ~ .check-mark:before {
    border-radius: 50px !important;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .check-mark, .radio:hover input ~ .check-mark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .check-mark:before, .radio input:checked ~ .check-mark:before {
    content: " ";
    margin: 4px;
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 10px;
    background-color: rgba(145, 113, 113, 1);
}

@media all and (max-width: 540px) {
    .sweet-alert {
        width: auto;
        margin-left: 0;
        margin-right: 0;
        left: 15px;
        right: 15px;
    }

    .sweet-alert h2 {
        font-size: 17px;
    }

    .sweet-alert button {
        width: 224px;
        height: 48px;
        border-radius: 43px;
        margin-top: 6px;
    }

    .sweet-alert p {
        margin-top: -10px;
        margin-bottom: 15px;
    }
}

#blockUIMessage {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

#blockUIMessage img {
    width: 120px;
}

.form-control, .custom-file-label {
    border-radius: 10px;
    background-color: #F5F5F5;
}

input.form-control, select.form-control {
    height: 40px !important;
}

textarea.form-control {
    height: 70px;
}

.form-control:focus, .single-line:focus {
    border-color: #404040;
}

.form-group label, .form-group legend {
    font-weight: bold;
}

button.btn {
    padding-top: 7px;
}

.width-250 {
    width: 250px;
}

.width-200 {
    width: 200px;
}

.width-150 {
    width: 150px;
}

.width-100 {
    width: 100px;
}

.fa-back-button {
    font-size: 20px;
    color: #AB162B;
}

.btn-back-button, .btn-back-button:hover {
    color: #AB162B;
    text-decoration: underline;
}

.invalid-feedback {
    color: #AB162B;
}

.label-danger, .badge-danger {
    background-color: #AB162B;
}

.btn-show-main-menu span, .btn-show-main-menu i, .btn-hide-main-menu span, .btn-hide-main-menu i {
    color: #917171;
}

.btn-show-main-menu {
    display: none;
}

.btn-hide-main-menu {
    display: block;
}

.mini-navbar .btn-hide-main-menu {
    display: none;
}

.mini-navbar .btn-show-main-menu {
    display: block;
}

/** Mobile experience */
.body-small .btn-hide-main-menu {
    display: none;
}

.body-small .btn-show-main-menu {
    display: block;
}

.body-small.mini-navbar .btn-hide-main-menu {
    display: block;
}

.body-small.mini-navbar .btn-show-main-menu {
    display: none;
}

#toggle-main-menu i {
    font-size: 20px;
}

#toggle-main-menu span {
    font-size: 15px;
}

.show-container {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.padding-bottom-25 {
    padding-bottom: 25px;
}

.padding-bottom-35 {
    padding-bottom: 35px;
}

.padding-top-15 {
    padding-top: 15px;
}

.padding-top-25 {
    padding-top: 25px;
}

.padding-top-35 {
    padding-top: 35px;
}

.padding-left-100 {
    padding-left: 100px;
}

.padding-55 {
    padding: 55px;
}

.padding-85 {
    padding: 85px;
}


.counter-label {
    float: right;
    margin-top: 5px;
}

textarea.height-200 {
    height: 200px !important;
}

.alert-success {
    color: #ffffff;
    background-color: #404040;
    border-color: #232222;
}

.alert-danger {
    color: #ffffff;
    background-color: #AB172C;
    border-color: #910E21;
}

.alert-warning {
    color: #FFF;
    background-color: #A56A1F;
    border-color: #86500B;
}

.alert-success .close, .alert-danger .close, .alert-warning .close  {
    color: #ffffff;
}

/* FULLCALENDAR */
#calendar {
    padding-top: 30px;
    border-top: 4px solid #fac863;
    mso-border-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
}

.fc-allow-mouse-resize span {
    color: #ffffff;
}

.fc-toolbar button {
    height: 33px;
}

.fc-state-default {
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
    color: #333333;
    text-shadow: none;
}
.fc-state-default {
    border: 1px solid;
}
.fc-button {
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    height: 1.9em;
    line-height: 1.9em;
    overflow: hidden;
    padding: 0 0.6em;
    position: relative;
    white-space: nowrap;
    /* background color */
    background-color: #D6230E;
    /* border color */
    border-color: #991E0F;
    /* color */
    color: #FFFFFF;
}
.fc-state-active {
    background-color: #991E0F;
    border-color: #991E0F;
    color: #ffffff;
}
.fc-header-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: inherit;
}
.fc-content .fc-widget-header,
.fc-content .fc-widget-content {
    border-color: #e7eaec;
    font-weight: normal;
}
.fc-border-separate tbody {
    background-color: #F8F8F8;
}
.fc-state-highlight {
    background: none repeat scroll 0 0 #FCF8E3;
}
.external-event {
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}
.fc-ltr .fc-event-hori.fc-event-end,
.fc-rtl .fc-event-hori.fc-event-start {
    border-radius: 2px;
}
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
    padding: 4px 6px;
    background-color: #3788D8;
    /* background color */
    border-color: #256AAE;
    /* border color */
}
.fc-event-time,
.fc-event-title {
    color: #717171;
    padding: 0 1px;
}
.ui-calendar .fc-event-time,
.ui-calendar .fc-event-title {
    color: #fff;
}
.fc-event-container a.fc-event {
    color: #fff;
}
/* FULLCALENDAR */

a.text-primary:hover, a.text-primary:focus {
    color: #ab162b !important;
}

/* Orders Legend */
.orders .legend {
    margin-bottom: 10px;
    text-align: left;
}

.orders .legend span {
    font-family: 'Raleway Italic', sans-serif;
    font-size: 14px;
    letter-spacing: .61px;
    color: #404040;
    display: inline-flex;
    align-items: center;
    margin-right: 35px;
}

.orders .legend span:before {
    content: " ";
    width: 24px;
    height: 24px;
    background: #d1d1d1;
    margin-right: 20px;
    display: inline-block;
}

.orders .legend span.cancelled:before {
    background: #f5b0bd;
}

.orders .legend span.delivered:before {
    background: #d7ffae;
}

.order-pending {
    background-color: #D1D1D1;
}

.order-cancelled {
    background-color: #F5B0BD;
}

.order-delivered {
    background-color: #D7FFAE;
}

.order---- {
    background-color: #F3F3F4;
}

@media (min-width: 768px) {
    .navbar-static-side {
        width: 300px;
    }
}

@media (max-width: 812px) {
    .ibox-content .search-box {
        width: 100%;
    }

    .btn-primary {
        width: 100%;
    }

    h1 small {
        display: block;
        margin-left: 2px;
        margin-top: 8px;
    }

    .actions-header {
        width: 100px;
    }

    .switch-label {
        top: 0;
        margin-left: 17px;
    }

    #blockUIMessage img {
        width: 80px;
    }

    #toggle-main-menu i {
        font-size: 15px;
    }

    #toggle-main-menu span {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .ibox-content.padding-55 {
        padding: 55px 30px;
    }
}

@media (max-width: 320px) {
    #toggle-main-menu i {
        font-size: 15px;
    }

    #toggle-main-menu span {
        font-size: 10px;
    }
}
