<a id="go-to-cart" href="{{ path('sylius_shop_cart_summary') }}" class="ui circular cart button">
    <div class="cart-icon {% if not cart.empty %}not-empty{% endif %}">
        <img class="cart icon" src="{{ asset('bundles/syliusshop/img/icons/cart.svg') }}">
    </div>
    {{ 'app.ui.cart'|trans }}
</a>
