{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissable fade show">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('danger') %}
    <div class="alert alert-danger alert-dismissable fade show">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('warning') %}
    <div class="alert alert-warning alert-dismissable fade show">
        {{ message }}
    </div>
{% endfor %}
