{% extends 'Email/base.html.twig' %}

{% block subject %}
    {{ 'app.email.password_reset'|trans }}
{% endblock %}

{% block title %}
    {{ 'app.email.hello_%name%'|trans({'%name%': user }) }}
{% endblock %}

{% block content %}
    <td class="content-block text-center">
        <p class="text-center">{{ 'app.email.here_is_your_code'|trans }}</p>
        <br>
        <code>{{ user.passwordResetToken }}</code>
    </td>
{% endblock %}

{% block button %}{% endblock %}
